{
	"presets": [
		"es2015",
		"stage-1",
		"react",
		["env", {
			"targets": {
				"node": "7",
				"chrome": 52,
				"electron": "1.6"
			}
		}]
	],
	"env": {
		"production": {
			"presets": ["react-optimize"]
		},
		"development": {
			"plugins": [
				"react-hot-loader/babel"
			]
		}
	}
}
