.Counter {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	width: 100%;
}

.count,
.controls {
	text-align: center;
}

.count {
	font-size: 4.2em;
	margin-top: 1em;
}

.controls > * {
	margin: 0 .65em;
}
